<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>MVC With Burgers!</title>
		
	</head>
	<body>
        
		{{{ body }}}
        <script src="https://code.jquery.com/jquery.js"></script>
		<script src="burgers.js"></script>
	</body>
</html>
